# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [2]:
# code
import numpy as np
import pandas as pd

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [60]:
# code
np.random.seed(0)

ser1 = pd.Series(np.random.randint(1,4,100))
ser2 = pd.Series(np.random.randint(1,3,100))
ser3 = pd.Series(np.random.randint(10000,30000,100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [62]:
# code
df = pd.concat([ser1,ser2,ser3],axis=1)
df.head()

   0  1      2
0  1  1  23429
1  2  2  23907
2  1  1  12721
3  2  2  20088
4  2  2  27312

### Step 4. Change the name of the columns to bedrooms, bathrooms, price_sqr_meter

In [64]:
# code
df.columns = ['bedrooms' , 'bathrooms' , 'price_sqr_meter']
df.head(3)

   bedrooms  bathrooms  price_sqr_meter
0         1          1            23429
1         2          2            23907
2         1          1            12721

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [71]:
# code

bigcolumn = pd.concat([ser1,ser2,ser3])
bigcolumn

0         1
1         2
2         1
3         2
4         2
      ...
95    23634
96    21605
97    10423
98    10967
99    14370
Length: 300, dtype: int32

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [75]:
# code
print(bigcolumn.tail(1))
len(bigcolumn)

99    14370
dtype: int32

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [76]:
# code
bigcolumn.reset_index(drop=True,inplace=True)
print(bigcolumn.tail(1))
bigcolumn

299    14370
dtype: int32

0          1
1          2
2          1
3          2
4          2
       ...
295    23634
296    21605
297    10423
298    10967
299    14370
Length: 300, dtype: int32