## Student Name - Pushkar Ashok Narkhede
## Batch - 97

# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [71]:
# code
import numpy as np
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [72]:
# code

data_dict = {'evolution':['Ivysaur', 'Charmeleon', 'Wartortle' , 'Metapod'],
             'hp': [45,39,44,45],
             'name' : ["Buibasaur" , 'Charmander' , 'Squirtle' , 'Caterpie'],
             'pokedex': ['yes', 'no','yes', 'no'],
             'type' : ['grass','fire','water', 'bug']
            }
data_dict

{'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
 'hp': [45, 39, 44, 45],
 'name': ['Buibasaur', 'Charmander', 'Squirtle', 'Caterpie'],
 'pokedex': ['yes', 'no', 'yes', 'no'],
 'type': ['grass', 'fire', 'water', 'bug']}

### Step 3. Assign it to a variable called pokemon

In [73]:
# code
df = pd.DataFrame(data_dict)
df

    evolution  hp        name pokedex   type
0     Ivysaur  45   Buibasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [74]:
# code
df = df[['name','type','hp','evolution','pokedex']]
df

         name   type  hp   evolution pokedex
0   Buibasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [77]:
# code
df['place'] = ['forest','cave', 'river' , 'tree']
df

<ipython-input-77-705639abce9f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['place'] = ['forest','cave', 'river' , 'tree']

         name   type  hp   evolution pokedex   place
0   Buibasaur  grass  45     Ivysaur     yes  forest
1  Charmander   fire  39  Charmeleon      no    cave
2    Squirtle  water  44   Wartortle     yes   river
3    Caterpie    bug  45     Metapod      no    tree

### Step 6. Present the type of each column

In [68]:
# code
df.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object