## Student Name - Pushkar Ashok Narkhede
## Batch - 97#

###  Dictionary

Create Dictionary for following information as "person1":
   - Name = Srikanth
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [1]:
# CODE HERE
person1 = {  'Name' : 'Srikanth' ,
            'Gender': 'Male',
            'Occupation' : 'Data Scientist',
            'Location' : 'Nizampet, Hyderabad' }
person1

{'Name': 'Srikanth',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Location': 'Nizampet, Hyderabad'}

In [2]:
person1

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> print keys in person1 as a list

In [2]:
# CODE HERE
print(person1.keys())

dict_keys(['Name', 'Gender', 'Occupation', 'Location'])

In [3]:
#  CODE HERE

['Name', 'Gender', 'Occupation', 'Location']

> Srikanth age is 27. Assign his age in person1 as key "Age"

In [3]:
# CODE HERE
person1['age'] = 27
person1

{'Name': 'Srikanth',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Location': 'Nizampet, Hyderabad',
 'age': 27}

In [5]:
person1

{'Age': 27,
 'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> Remove Location in person1

In [4]:
# CODE HERE
person1.pop('Location')
person1

{'Name': 'Srikanth',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'age': 27}

{'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> Create dictionary of person2 with
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [5]:
# CODE HERE
person2 = {
    'Name' : 'Raghu Ram',
    'Gender' : 'Male',
    'Age' : 25 ,
    'Occupation' : 'Data Scientist'
}
person2

{'Name': 'Raghu Ram',
 'Gender': 'Male',
 'Age': 25,
 'Occupation': 'Data Scientist'}

In [8]:
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

> Append values on Person1 and Person2

In [6]:
print('='*20,'person1','='*20)
print(person1)
print('='*20,'person2','='*20)
print(person2)

==================== person1 ====================
{'Name': 'Srikanth', 'Gender': 'Male', 'Occupation': 'Data Scientist', 'age': 27}
==================== person2 ====================
{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data Scientist'}

In [24]:
# CODE HERE to append
#print(person1 , person2)

# **var_name is an argument with different and multiple value in one varibale
person_3 = {**person1, **person2}
# applying for loop so that if there are same keys in two or more than dictonary then we can set different values to same key
# using list and ** argument type 
for key, value in person_3.items():
       if key in person1 and key in person2:
               person_3[key] = [value , person1[key]]
                
print(person_3)
print('\n',person_3['Name'])

{'Name': ['Raghu Ram', 'Srikanth'], 'Gender': ['Male', 'Male'], 'Occupation': ['Data Scientist', 'Data Scientist'], 'age': 27, 'Age': 25}

 ['Raghu Ram', 'Srikanth']

# create a dictionary
#### remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [45]:
# CODE HERE
num_dict = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
print(num_dict , '\n')

num_dict.pop(1)
print('\n removing item having key 1' ,num_dict)

del num_dict[2]
print('\n removing item having key 2 ',num_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}


 removing item having key 1 {2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

 removing item having key 2  {3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
### print the values from the above dictionary in descending order

In [58]:
dictonary = {0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
print(dictonary)
new = sorted(dictonary.items() , reverse=True)
print('\n sorted list in decending order' , new)

{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

 sorted list in decending order [(9, 81), (7, 49), (5, 25), (3, 9), (1, 1), (0, 0)]

In [16]:
# CODE HERE
database = {'ram':'1234','raghu':'5678','kanav':'1357'}
print(database)

{'ram': '1234', 'raghu': '5678', 'kanav': '1357'}

database = {'ram':1234,'raghu':5678,'kanav':1357}
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

In [19]:
username = input('enter username :')
password = input('enter password :')

if password in database.values() and username in database.keys():
    print ("Hello" , username)
else:
    print('\nUsername and Password not found \nDo you wanr to add login detail into database [y/n] \n \n')
    add_detail =  input("Enter your choice[y/n] \n")
    if add_detail == 'y':        
        database[username] = password
        print('Login detail added succefully \nUsername=',username,'\nPassword=',password)
    elif add_detail == 'n':
        print('Thank your!')
    
print('\n' ,database)

enter username :push
enter password :0707
Username and Password not found
Do you wanr to add login detail into database [y/n]


Enter your choice[y/n]
y
Login detail added succefully
Username= push
Password= 0707

 {'ram': '1234', 'raghu': '5678', 'kanav': '1357', 'pushkar': '0404', 'push': '0707'}

### merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [33]:
# CODE HERE
dict1 = { 'a': 1, 'b': 2 } 
dict2 = { 'b': 3, 'c': 4 } 
dict3 = { 'c': 5, 'd': 6 }
print(dict1 , dict2 , dict3)

{'a': 1, 'b': 2} {'b': 3, 'c': 4} {'c': 5, 'd': 6}

In [32]:
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

dict1.update(dict2)
dict1.update(dict3)
dict1

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)