##  Student Name - Pushkar Ashok Narkhede
##  Batch Number - 97

# Functions and Methods Homework 

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**

volume = 4/3 pi $r ^3$

In [10]:
import math
def vol(rad):
    return 4/3* math.pi * rad**3

In [12]:
radius = int(input('Enter radius :'))
print('Volume of sphere is :', vol(3))

Enter radius :3
Volume of sphere is : 113.09733552923254

___
**Write a function that checks whether a number is in a given range (Inclusive of high and low)**

In [13]:
def ran_check(num,low,high):
    if num>low and num<high:
        print('{} is in range from {} to  {}'.format(num,low,high))
    else:
        print('{} is out of given range')

In [15]:
num = int(input('Enter the number : '))
low = int(input('Enter lower range : '))
high = int(input('Enter higher range : '))

ran_check(num,low,high)

Enter the number : 5
Enter lower range : 1
Enter higher range : 10
5 is in range from 1 to  10

If you only wanted to return a boolean:

In [1]:
def ran_bool(num,low,high):
    if num>low and num<high:
        return True
    else:
        return False

In [2]:
ran_bool(3,6,10)

False

____
**Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

If you feel ambitious, explore the Collections module to solve this problem!

In [3]:
def up_low(s):
    low=up=count=0
    
    for i in s:
        count+= 1
        if i.islower() == True:
            low += 1
            
        elif i.isupper() ==  True:
            up += 1
            
        else:
            continue
    print('Total No. of characters : {}'.format(count))
    print('No. of Upper case characters : {}'.format(up))
    print('No. of Lower case characters : {}'.format(low))

In [4]:
ip = input('Enter string : ')
up_low(ip)

Enter string : Hello Mr. Rogers, how are you this fine Tuesday?
Total No. of characters : 48
No. of Upper case characters : 4
No. of Lower case characters : 33

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [5]:
def unique_list(l):
    list_unique = []
    for i in l:
        if i not in list_unique:
            list_unique.append(i)
    print(list_unique)
    #return list_unique

In [6]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [7]:
def multiply(numbers):  
    result = 1
    for i in numbers:
        result *= i
    print(result)
    #return result

In [8]:
multiply([1,2,3,-4])

-24

In [59]:
multiply([1,2,3,-4])

-24

____
**Write a Python function that checks whether a passed string is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [22]:
def palindrome(s):
    print('Actual string is **{}** \nReversed string is **{}**'.format(s,s[::-1]))
    return s == s[::-1]

In [23]:
palindrome('madam')

Actual string is **madam**
Reversed string is **madam**

True

## Given a number N.Find Sum of 1 to N Using Recursion

In [24]:
def sum_of_N(num):
    if num <= 1:
        return num
    else:
        return num + sum_of_N(num - 1)

In [25]:
print(sum_of_N(10))

55

In [2]:
# CODE HERE

Enter the number : 10
55

### Define a function which can generate and print a list where the values are square of numbers between 1 and 20

In [27]:
def printList():
    num_list = list(range(1,21))
    op_num_list = [i**2 for i in num_list]
    print(op_num_list)

printList()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [3]:
def printList():
    # CODE HERE

printList()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

### Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the keys only.

In [36]:
def printDict():
    sq_dict = {}
    for i in range(1,21):
        sq_dict[i] = i**2
    print(sq_dict.keys())
    print(sq_dict.values(),'\n\n')
    print(sq_dict)
    


printDict()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])
dict_values([1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400])


{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [4]:
def printDict():
    # CODE HERE


printDict()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

### Write a function that count the no of characters of the given input text
- input
    - innomatics research labs
    
- output
    - innomatics :10
    - research : 8
    - labs : 4

In [126]:
def no_char(ip_str):
    words = ip_str.split()
    print(words)
    count = 0
    for i in words:
        print('{} : {}'.format(i,len(i)))

In [125]:
no_char('innomatics research labs')

['innomatics', 'research', 'labs']
innomatics : 10
research : 8
labs : 4

### Write a program which can map() to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10].

Using map() function

In [69]:
li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
res = list(map(lambda x : x**2 , li))
print(res)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].
##### using filter()

In [81]:
# CODE HERE
li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
res = list(map(lambda x : x**2 , li))
map_res = list(map(lambda x: x%2 == 0,res))
print(res,'\n')
print(map_res)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[False, True, False, True, False, True, False, True, False, True]

### using map()

In [80]:
# CODE HERE
filter_res =list(filter(lambda x: x%2 == 0,res))
print(filter_res)

[4, 16, 36, 64, 100]

### Write a program which can filter() to make a list whose elements are even number between 1 and 20 (both included)

In [94]:
# CODE HERE
def even(x):
    li = list(range(1,21))
    for i in li:
        if x%2 == 0:
            return x #True
        else:
            continue
result = list(filter(even,li))
print(result)

[2, 4, 6, 8, 10]

### $f(n)=f(n-1)+f(n-2)$ if n>1

In [104]:
def f(n):
    
        
    if n <= 1:
        return n
    else:
        return f(n-1) + f(n-2)    
    


n = int(input("Enter n value : "))
print(f(n))

Enter n value : 7
13

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)