## Student Name - Pushkar Ashok Narkhede
## Batch - 97

###  LIST

Create a list of numbers
> nums = [1,2,3,4]

In [125]:
nums = [1,2,3,4]
print(nums)

[1, 2, 3, 4]

** 1. Remove number "3" in a list**

In [126]:
# Method 1 
nums.pop(2)
print('removed element 3 and the list is ', nums)

removed element 3 and the list is  [1, 2, 4]

In [118]:
# Method 2
nums.remove(3)
print('removed element 3 and the list is ', nums)

removed element 3 and the list is  [1, 2, 4]

In [43]:
# Method 3
del nums[2:3] # 2 is the starting position and 3 is the endition position ie. the 2 is the indec from which elements will deleting
print('removed element 3 and the list is ', nums)

removed element 3 and the list is  [1, 2, 4]

** Remove last element in the list **
> hint: remove 4 (L.pop)

In [127]:
print('removing the last item of list', nums.pop())

removing the last item of list 4

**Check nums.pop(0) ** 
> write you comment after executing this command

In [128]:
#pop either remove  last element if index is not provided else it remove the element from particular index 
print(nums.pop(0))
print(nums)

1
[2]

 **Extent** list (3,4)
 > **hint: nums.extend([3,4])

In [107]:
# Method1
nums.append(3)
nums.append(4)
print(nums)

[2, 4, 3, 4]

In [129]:
#Method 2
nums.insert(2,3)
nums.insert(3,4)
print(nums)

[2, 3, 4]

**Insert number "1" in 0th position**

In [130]:
nums.insert(0,1)
print(nums)

[1, 2, 3, 4]

**Insert "two-and-half" in 2nd position**

In [144]:
nums.insert(2,'two-and-half')
nums

[1, 2, 'two-and-half', 3, 4]

**2. Create a list with name plist with phrase = "Don't panic!"**

In [402]:
plist = ["Don't panic!"]
print(plist)

["Don't panic!"]

*convert into list*

In [403]:
plist3.clear()
for i in plist[0]:
    plist3 += i.split()
print(plist3)

['D', 'o', 'n', "'", 't', 'p', 'a', 'n', 'i', 'c', '!']

Remove ** '** and **!** in the list

In [404]:
#if there is too lengthy list then we can do like this to remove every element 

for i in plist3:
    if i == "'" or i == '!':
        plist3.remove(i)
        
plist3

#or if we knows the position or element   because remove remove first occurance of character 

#plist.remove("'")
#plist.remove('!')

['D', 'o', 'n', 't', 'p', 'a', 'n', 'i', 'c']

**Remove "p" , "a", "n","D" and extend the list at the last**

In [405]:
delete_list = ['p', 'a', 'n', 'D']
print('iten to be deleted and extended' , delete_list)

# i stands for iterable 
# also remove repeatative value

for i in plist3:         
    if i in delete_list:
        plist3.remove(i)
        
plist3.extend(delete_list)
plist3

iten to be deleted and extended ['p', 'a', 'n', 'D']

['o', 't', 'a', 'i', 'c', 'p', 'a', 'n', 'D']

**Explain how ?**

1. To remove particular element in list we have to ways
        a. use removeor pop commnds for every element to be remove 
        b. use iteration and remove that elements
2. In above solution we created a list of the elements that need to be removed 
3. Then we iterate the primary list from where we have to remove elements 
4. Then we compare the element of primary list with the delete_list if the condition true then it will remove that particular variable 
5. then we extend the delete element list with our primary list and print the primary list

**Joining List**

**Extract last 4 element in plist and append "a" and name as plist1**

- Extract list

In [421]:
last_four = plist3[-4:]
last_four

['p', 'a', 'n', 'D']

- append list

In [422]:
last_four.append('a')
last_four

['p', 'a', 'n', 'D', 'a']

- Join list

In [431]:
string_list = ''.join(last_four)
string_list

'panDa'

###  Tuples

Create a tuples for numbers 31,24,35,85 as nums

In [479]:
# CODE HERE
nums = (31,24,35,85)
print('data type' , type(nums))
print(nums)

data type <class 'tuple'>
(31, 24, 35, 85)

** Remove number "35" in a tuple**

*Hint:* Convert into list

In [480]:
# CODE HERE
tuple_list =list(nums)
tuple_list.remove(35)
nums = tuple(tuple_list)
nums

(31, 24, 85)

**Extent** tuple (85,19)

In [481]:
# CODE HERE
nums2 = (85,19)
nums += nums2
nums

(31, 24, 85, 85, 19)

### If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [685]:
# input string 
input_string = '5 2 3 6 6 5'     
print(input_string)

# conerting input string to list 
list_of_str =input_string.split() 

# sorting the list in descending order or reverse
list_of_str.sort(reverse=True)
print(list_of_str)

# getting 1st element of list as it is greater number in list 
pos_element = list_of_str[0]

# getting the count of 1st position element to check wheather number of element with same value is greater than 1
# if it is greater than one then we get the count and use it as a index to get the 2nd highest value 

countt = list_of_str.count(pos_element)
print('highest elemet ', pos_element, 'count is ' , countt)

# setting index to as it is because we know that index always start from 0 and we either 1 or more than 1 as a count 
print('second highest elemet is at position ',countt, 'and the elemet is ' , list_of_str[countt])



# another way is to use indexing but it is not fisible if there is lare amount of data

5 2 3 6 6 5
['6', '6', '5', '5', '3', '2']
highest elemet  6 count is  2
second highest elemet is at position  2 and the elemet is  5

### By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [785]:
new_list = [12,24,35,70,88,120,155]
print(new_list)

new_list.pop(0)
new_list.pop(3)
new_list.pop(4) # dont know but it is showing index out of range so i use given index-1 

listt = [i for i in new_list if i in new_list]
print('after removing element ', listt)


# r = len(new_list)
# print(r)
# print(new_list)
#for i in new_list:
  #  if new_list.index(i) in position:
 #       print(new_list.index(i))
  #      new_list.remove(i)
  #      print(new_list)

[12, 24, 35, 70, 88, 120, 155]
after removing element  [24, 35, 70, 120]

In [722]:
# CODE HERE

### With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [803]:
given_tup = (1,2,3,4,5,6,7,8,9,10)
given_tup_list = list(given_tup)
    
#length = len(given_tup_list)/2
#int(length)
tup1 = tuple(given_tup_list[:5])
tup2 = tuple(given_tup_list[5:])

print(tup1, tup2)

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

### Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [811]:
new_tup = (1,2,3,4,5,6,7,8,9,10)
list9 = list(new_tup)
print(tuple([i for i in list9 if i%2 == 0]))

(2, 4, 6, 8, 10)

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)