## Student Name - Pushkar Ashok Narkhede
## Batch - 97#

###  Sets

> Create a set "s" with elements 

1 , 2 , 'innomatics', 'hub'

In [2]:
# CODE HERE
s = {1,2,'innomatic','hub'}
s

{1, 2, 'hub', 'innomatic'}

> Add element 'Technology' in s

In [4]:
# CODE HERE
s.add('Technology')
s

{1, 2, 'Technology', 'hub', 'innomatic'}

> Create one more set "sc" with elements 

3,4, 'hub', 'Technology'

In [6]:
# CODE HERE
sc = {3,4,'hub','Technology'}
sc

{3, 4, 'Technology', 'hub'}

> Find difference of two sets s and sc

s - sc

In [9]:
# CODE HERE
scc = s.difference(sc)
scc

{1, 2, 'innomatic'}

> remove 2 from set s

In [24]:
s

{1, 2, 'Technology', 'hub', 'innomatic'}

In [25]:
# CODE HERE
s.remove(2)
s

{1, 'Technology', 'hub', 'innomatic'}

> Print common element in two sets s and sc

s intersection sc

In [28]:
# CODE HERE
s_in = s.intersection(sc)
s_in

{'Technology', 'hub'}

> Print all element in two sets

s union sc

In [29]:
# CODE HERE
s_un = s.union(sc)
s_un

{1, 3, 4, 'Technology', 'hub', 'innomatic'}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)